@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-4 offset-4">
        @* offset-4 ile soldan 4 birim ötele 4 birimlik bir kolon yap denmiş oldu. toplam 12 olduğundan tam orataya gelir *@
        @* col-4 kaldırıldığında sağa yaslandı *@
        <h1 class="display-4 border-bottom text-center pb-2">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <form  method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
            @* postla beraber yukarda belirtilen model newlenir. içine aşağıda eşlenen data eklenir *@
            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label">Username</label>
                <input asp-for="Username" class="form-control" placeholder="johndoe"  />
                <span asp-validation-for="Username" class="text-danger small"></span>
                @* tag helper burada devreye giriyor ve normal html'den çıkıyor *@
            </div>

            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password" class="form-control" placeholder="P@ssw0rd!" type="password"  />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <div class="form-group d-grid mb-3">
                @* d-grid ile buton inputlarla aynı hizaya alındı *@
                <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket me-2"></i>Login</button>
            </div>

        </form>
    </div>
</div>